@import "bootstrap";


// Layout
body {
  padding-top: 30px;
  // background-color: #aaa;
  #content {
    background-color: white;
    width: 80%;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 100%
  } 
}